{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}

<div class="container-fluid" style="background-color: #f2feff;">
<div class="b-example-divider"></div>
<div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Welcome to The ARC!
            </h1>
            <p class="lead">
                At The ARC, we're passionate about revolutionizing the hospitality industry through innovative
                technology solutions. Our team is dedicated to providing hoteliers with powerful tools to streamline 
                operations,enhance guest experiences, and drive business success.
            </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="static\hotel_images\about.jpg"
                class="d-block mx-lg-auto img-fluid" alt="The ARC" width="700" height="500" loading="lazy" />
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://images.unsplash.com/photo-1524234599372-a5bd0194758d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fGhvdGVsc3xlbnwwfHwwfHx8MA%3D%3D"
                class="d-block mx-lg-auto img-fluid" alt="The ARC" width="700" height="500" loading="lazy" />
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                The ARC:
            </h1>
            <p class="lead">
                With years of experience in both hospitality and technology, our founders recognized the need 
                for a comprehensive and user-friendly hotel management system. Thus, The ARC was born, with 
                the mission to empower hoteliers with cutting-edge solutions tailored to their unique needs.
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Our Commitment:
            </h1>
            <p class="lead">
                <pre style="font-family: 'sans-serif'; font-size: medium;">
                    1. <b>Customer-Centric Approach:</b> We prioritize our clients'
                        needs and feedback,continuously refining and improving our
                        products to exceed expectations.
                    2.<b> Innovation:</b> We stay ahead of the curve by leveraging
                        the latest technologies and industry trends to deliver 
                        state-of-the-art solutions.
                    3. <b>User-Friendly Interface:</b>We understand the importance
                        of simplicity and efficiency. That's why our intuitive 
                        interface makes managing your hotel effortless.
                    4. <b>24/7 Support:</b> Our dedicated support team is always
                        available to assist you, whether you have questions, 
                        encounter technical issues,or need guidance.
                </pre>
            </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="static\hotel_images\about3.jpg"
                class="d-block mx-lg-auto img-fluid" alt="The ARC" width="700" height="500" loading="lazy" />
        </div>
    </div>
</div>
</div>
{% endblock content %}