{% extends "base.html" %}
{% block content %}
{% load crispy_forms_filters %}
        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background mb-4 " data-overlay-dark="4" 
        data-background="static\hotel_images\08.jpg"
         style="background-image: url('/static/hotel_images/04.jpg');background-size: cover; "
            <div class="container text-dark">
                <h1 class=" text-dark" style="font-size: 70px;" >About Us</h1>
                <ul>
                    <li>
                        <a href="index.html" class="text-dark">Home</a>
                    </li>
                    <span>></span>
                    <li>
                        <a href="#!" class="text-dark">About Us</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start about section -->
        <section class="no-padding-bottom my-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="padding-30px-right sm-no-padding-right">
                            <h2 class="text-right sm-text-left font-size38 sm-font-size34 xs-font-size28 no-margin-bottom sm-margin-20px-bottom">Our hotel has been award for over 20 years. We build the best for all our clients.</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 sm-margin-20px-bottom">
                        <p>At The Metro, we believe that hospitality isn't just about providing a place to stay; it's about creating unforgettable experiences. With our cutting-edge hotel management system, we strive to empower hoteliers to enhance guest satisfaction.</p>
                        </div>
                        <div class="col-lg-3 sm-margin-20px-bottom">
                        <p>The Metro was born out of a shared vision to revolutionize the hospitality industry. Frustrated by the inefficiencies
                    and limitations of existing systems, we set out to develop a solution that marries the best of hospitality expertise with the
                    latest in technological innovation.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end about section -->

  <!-- start services section -->
  <section style="margin-top: 40px;">
    <div class="container lg-container my-5">
        <div class="text-center margin-70px-bottom xs-margin-30px-bottom">
            <h2 class="margin-10px-bottom">Hotel Services</h2>
            <p class="no-margin-bottom">We pride ourselves on offering a comprehensive range
                of services tailored to meet the diverse needs of hotel owners, 
                managers, and guests</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3 md-margin-30px-bottom" >
                <div class="bg-white border shadow padding-40px-all h-100"  style="padding: 40px;" >
                    <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-ticket"></i></span>
                    <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">24-hour reception</h3>
                    <p class="no-margin-bottom">Our hotel offers round-the-clock reception services, ensuring that there's always someone available to assist you regardless of the time of day or night for any of your queries.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 md-margin-30px-bottom">
                <div class="bg-white border shadow padding-40px-all h-100" style="padding: 40px;">
                    <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-eraser"></i></span>
                    <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">Room service</h3>
                    <p class="no-margin-bottom">Your delicious meals, refreshing beverages, and essential amenities delivered straight to your room with our prompt and efficient room service.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 xs-margin-30px-bottom">
                <div class="bg-white border  shadow padding-40px-all h-100"  style="padding: 40px;">
                    <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-bookmark"></i></span>
                    <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">Airport pick up</h3>
                    <p class="no-margin-bottom">Our hotel, ensuring a seamless transition from the airport to your accommodations. Sit back, relax, and let us take care of the transportation logistics for you.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="bg-white border shadow padding-40px-all h-100"  style="padding: 40px;">
                    <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-file"></i></span>
                    <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">Free wifi</h3>
                    <p class="no-margin-bottom">Stay connected throughout your stay with complimentary high-speed WiFi access available in all areas of our hotel.Enjoy uninterrupted connectivity!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end services section -->


{% endblock content %}