{% extends "base.html" %}
{% block content %}
{% load crispy_forms_filters %}


<head>
	<link rel="stylesheet" href="/static/css/styles.css">
</head>

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background mb-4 vh-80 " data-overlay-dark="4" 
        data-background="static\hotel_images\08.jpg" 
         style="background-image: url('/static/hotel_images/10c.jpg');background-size: cover; ">
            <div class="container text-dark">
                <h1 class=" text-light" style="font-size: 70px;" >Booking</h1>
                <ul>
                    <li>
                        <a href="index.html" class="text-light">Home</a>
                    </li>
                    <span>></span>
                    <li>
                        <a href="#!" class="text-light">Booking</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->



        <section>
          <div class="container">
              <div class="row justify-content-center">
                <div class="col-6">
                    <h1>Booking : </h1>
                    <hr class="mt-0 mb-4" />
                        <form method="POST">
                            {% csrf_token %}
                              <div class="col-12">
                                {{ form.room|as_crispy_field }}
                              </div>
                              <div class="col-12">
                                {{ form.checkin_date|as_crispy_field }}
                              </div>
                              <div class="col-12">
                                {{ form.checkout_date|as_crispy_field }}
                              </div>
                        <div class="form-group  text-center my-3">
                            <button type="submit" class="butn">confirm booking</button>
                        </div>
                    </form>
                  </div>
                          
                  <div class="col-lg-4 popular-things">
                      <div class="padding-30px-left sm-no-padding-left">
                          <h4 class="text-uppercase letter-spacing-1 margin-30px-bottom font-size24">Special Offers</h4>
                          <div class="theme-shadow border-radius-3 margin-30px-bottom">
                            <div>
                                <img src='/static/hotel_images/10c.jpg' class="ml-1" height="200px" alt="">
                            </div>
                              <div class="m-4 padding-25px-all d-flex justify-content-between">
                                  <h5 class="font-size17 no-margin-bottom"><a href="#" class="text-extra-dark-gray">Suite room</a>
                                </h5>
                                <div class="col-6 ml-5"><span class="display-block font-size20 letter-spacing-2 text-extra-dark-gray">₹ 1200.00 </span><span> Per night</span></div>
                                
                                  <ul class="rate no-margin-bottom">
                                  </ul>
                              </div>
                              <div>
                                  <div class="row align-items-center text-center padding-15px-tb">
                                      <div class="col-6 "><a href="single-room.html" class=""></a></div>
                                  </div>
                              </div>
                          </div>
               
                      </div>
                  </div>
              </div>
          </div>
      </section>

        {% endblock content %}