{% extends "base.html" %}
{% block content %}
{% load crispy_forms_filters %}

<!-- start page title section -->
<section class="page-title-section bg-img cover-background mb-4 " data-overlay-dark="4"
  data-background="static\hotel_images\08.jpg"
  style="background-image: url('/static/hotel_images/09.jpg');background-size: cover; " <div
  class="container text-dark">
  <h1 style="font-size: 70px;">Contact Us</h1>
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="#!">Contact Us</a>
    </li>
  </ul>
  </div>
</section>
<!-- end page title section -->




<div class="container">



  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="font-size15 xs-font-size14 text-uppercase text-theme-color letter-spacing-1 font-weight-600">Get
            in touch</span>
          <h2
            class="no-margin-bottom xs-margin-10px-bottom margin-20px-top xs-margin-5px-top font-size48 sm-font-size40 xs-font-size36">
            Contact &amp; access</h2>
        </div>
        <div class="col-md-6">
          <p class="no-margin-bottom">Thank you for considering The ARC! We prioritize our clients' needs and 
            feedback,continuously refining and improving our products to exceed expectations. We're here to assist 
            you with any questions or assistance you may need. Feel free to reach out to us.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29278.912979692243!2d73.28251238644965!3d23.46536526446271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395df1c1ca70b667%3A0x3284e3e4d4a2118d!2sModasa%20-%20The%20Heart%20of%20Aravalli!5e0!3m2!1sen!2sin!4v1709756313357!5m2!1sen!2sin" width="1300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </center>
</div>
<section class="my-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6   xs-margin-30px-bottom">
        <div class="p-5">
          <h3  class="my-3">Find Us There</h3>
          <div class="margin-30px-bottom sm-margin-20px-bottom">
            <ul class="list-style-1 no-margin">
              <li class="my-3">
                <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street
                   F8C7+52C,Mosasa ,Gujrat-383315.</span>
              </li>
              <li class="my-3">
                <span class="d-inline-block vertical-align-top font-size18"><i
                    class="fas fa-phone text-theme-color"></i></span>
                <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">4355 6567
                  789</span>
              </li>
              <li class="my-3">
                <span class="d-inline-block vertical-align-top font-size18"><i
                    class="fas fa-envelope text-theme-color"></i></span>
                <span
                  class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">TheARC1224@name.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="form-container">
          <form method="POST">
            <h2 class="text-center"><strong>Contact Us</strong></h2>
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  {{ form.firstName|as_crispy_field }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  {{ form.lastName|as_crispy_field }}
                </div>

              </div>
            </div>
            <div class="form-group">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.message|as_crispy_field }}
            </div>
            <div class="form-group"><button type="submit" class="butn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}