{% extends "base.html" %}
{% block content %}
{% load crispy_forms_filters %}


<div class="card text-center" style="background-color: #f2feff;">
  <div class="card-body" >
    <h5 class="card-title">Contact Us For Any Query</h5>
    <p class="card-text">
    <pre style="font-family: 'sans-serif'; font-size: medium;">
        Thank you for considering The ARC! 
        We're here to assist you with any questions, feedback, or assistance 
        you may need. Feel free to reach out to us using any of the following methods:
    </pre>
    </p>
  </div>
</div>

<h5 class="text-center my-4">Contact information:</h5>

<div class="container-xxl py-5">
  <div class="container">

    <div class="row g-4">
      <div class="col-12">
        <div class="row gy-4">
          <div class="col-md-4   fadeIn">
            <div
              class="d-flex shadow hvr-float-shadow bg-blue-100  animate__animated animate__lightSpeedInRight animate__delay-2s align-items-center bg-light rounded p-4 ">
              <div class="  d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                style="width: 45px; height: 45px;">
                <i class="h2 icon-location-pin"></i>
              </div>
              <span>Plot 200, Ganeshnagar, Gandhidham, Kutch</span>
            </div>
          </div>
          <div class="col-md-4 fadeIn">
            <div
              class="d-flex  shadow hvr-float-shadow bg-blue-100 animate__delay-1s animate__animated animate__lightSpeedInRight align-items-center bg-light rounded p-4">
              <div class="d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                style="width: 45px; height: 45px;">
                <i class="h2 icon-envelope"></i>
              </div>
              <span>TheARC1224@gmail.com</span>
            </div>
          </div>
          <div class="col-md-4  fadeIn">
            <div
              class="d-flex hvr-float-shadow shadow bg-blue-100 animate__animated animate__lightSpeedInRight align-items-center bg-light rounded p-4">
              <div class=" d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                style="width: 45px; height: 45px;">
                <i class="h2 icon-phone"></i>
              </div>
              <span>+91 9999999999</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="register-photo">
  <div class="form-container">
    <div class="image-holder"></div>
    <form method="POST">
      <h2 class="text-center"><strong>Contact Us</strong></h2>
      {% csrf_token %}
      <div class="form-group">
        {{ form.firstName|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ form.lastName|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ form.message|as_crispy_field }}
      </div>
      <div class="form-group"><button class="btn btn-success btn-block btn-info" type="submit">Submit</button></div>
    </form>
  </div>
</div>
<div class="container" style="background-color: #f2feff;">
  <div class="row mb-5  ">
    <div class="col-md-6 fadeInUp " data-wow-delay="0.1s">
      <img src="static\hotel_images\about.jpg" class="d-block mx-lg-auto img-fluid" alt="Contact Pic" width="700"
        height="500" loading="lazy" />
    </div>
    <div class="col-md-6 fadeInUp " data-wow-delay="0.1s">
      <iframe classs="image-fluid  shadow "
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65922.742853294!2d70.10449769113272!3d23.073083861272625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3950ba20588f1fe1%3A0xbb4ebd4e177de88b!2sGandhidham%20Junction!5e0!3m2!1sen!2sin!4v1645450500997!5m2!1sen!2sin"
        style="min-height: 500px; width: 525px; border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

{% endblock content %}