{% extends "base.html" %}
{% block title %}Own Your Bookings!{% endblock title %}
{% block content %}

<section>
  <img src="static\hotel_images\06.jpg" class="img-fluid" alt="..." />
</section>
<section class="book">
  <div class="container flex">
    <div class="input grid">
      <div class="box">
        <label>Check-in:</label>
        <input type="date" placeholder="Check-in-Date" />
      </div>
      <div class="box">
        <label>Check-out:</label>
        <input type="date" placeholder="Check-out-Date" />
      </div>
      <div class="box">
        <label>Adults:</label> <br />
        <input type="number" placeholder="0" />
      </div>
      <div class="box">
        <label>Children:</label> <br />
        <input type="number" placeholder="0" />
      </div>
    </div>
    <div class="search">
      <input type="submit" value="BOOK" />
    </div>
  </div>
</section>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static\hotel_images\Home.jpg" class="d-block mx-lg-auto img-fluid" alt="The ARC" width="700"
        height="500" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        The ARC - Own Your Bookings!
      </h1>
      <p class="lead">
        We instinctively anticipate the needs and desires of our guests, both
        stated and unstated, and strive to create incredible moments of delight
        and discovery. Every interaction with our associates is marked by
        sincerity, warmth and joy. We genuinely love pampering our guests, which
        is why we create celebrations out of even ordinary events such as
        arrivals or the Royal Breakfast in Bed experience.
      </p>
    </div>
  </div>
</div>
<h1 class="my-4 text-center">Our Gallery</h1>
<div class="card-group my-4">
  <div class="card">
    <img src="static\hotel_images\01.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\02.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\03.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\04.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
</div>
<div class="card-group my-4">
  <div class="card">
    <img src="static\hotel_images\01.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\02.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\03.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\04.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
</div>
<div class="card-group my-4">
  <div class="card">
    <img src="static\hotel_images\01.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\02.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\03.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\04.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
</div>

{% endblock content %}