{% extends "base.html" %}
{% block title %}Own Your Bookings!{% endblock title %}
{% block content %}
{% load static %}

<section>
  <img src="static\hotel_images\06.jpg" class="img-fluid" alt="..." />
</section>


<section class="container">
  <div class="bg-white-opacity padding-40px-top padding-35px-bottom padding-20px-lr border-radius-3">
    <form method="post" action="#!">
        <div class="row align-items-center justify-content-center">

            <div class="col-md-6 col-lg-2">
                <div class="form-group">
                    <label>Arrival Date</label>
                    <input type="text" name="date" placeholder="Date:" data-provide="datepicker">
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="form-group">
                    <label>Departure Date</label>
                    <input type="text" name="date" placeholder="Date:" data-provide="datepicker">
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="form-group">
                <div class="select-option">
                        <label>Adults</label>
                        <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="form-group">
                    <div class="select-option">
                        <label>Children</label>
                        <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 margin-15px-top">
                <button type="submit" class="butn no-margin-bottom">Check Availability</button>
            </div>
        </div>
    </form>
</div>
</section>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static\hotel_images\Home.jpg" class="d-block mx-lg-auto img-fluid" alt="The ARC" width="700"
        height="500" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        The ARC - Own Your Bookings!
      </h1>
      <p class="lead">
        We instinctively anticipate the needs and desires of our guests, both
        stated and unstated, and strive to create incredible moments of delight
        and discovery. Every interaction with our associates is marked by
        sincerity, warmth and joy. We genuinely love pampering our guests, which
        is why we create celebrations out of even ordinary events such as
        arrivals or the Royal Breakfast in Bed experience.
      </p>
    </div>
  </div>
</div>
<h1 class="my-4 text-center">Our Gallery</h1>
<!-- <div class="card-group my-4">
  <div class="card">
    <img src="static\hotel_images\01.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\02.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\03.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\04.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
</div> -->
<!-- <div class="card-group my-4">
  <div class="card">
    <img src="static\hotel_images\01.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\02.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\03.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\04.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
</div> -->
{% for room_instance in room  %}

 <div class="card" style="width: 18rem;">
  <img src="{{ room_instance.roomimage.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ room_instance.RoomType.RoomName }}</h5>
    <p class="card-text">{{ room_instance.RoomType.description }}</p>
    <p class="card-text">{{ room_instance.roomsize }}</p>
    <p class="card-text"> {{ room_instance.amenities }}</p>
    <a href="#" class="btn btn-primary">{{ room_instance.RoomType.price }}</a>
  </div>
</div>
{% endfor %}


<!-- <div class="card-group my-4">
  <div class="card">
    <img src="static\hotel_images\01.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\02.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\03.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
  <div class="card">
    <img src="static\hotel_images\04.jpg" class="same-size-img card-img-top" alt="..." />
  </div>
</div> -->

{% endblock content %}