{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<div class="d-flex align-items-center position-relative min-vh-100">

    <!-- start left content -->
    <div class="col-sm-8 center-col col-md-7 col-xl-3 d-lg-flex align-items-center px-5">

        <div class="w-100 px-2 padding-50px-all sm-padding-30px-all xs-padding-20px-all   ">
            <h3 class="text-center">Login</h3>
             
            <form method="POST">
                {% csrf_token %}

                {{ form|crispy }}
                <small class="text-muted float-end">
                    <a class="ml-2 nav-link " href="{% url 'reset_password' %}">Forgot Password? </a>
                </small> <br>
                <div class="form-group  text-center my-3">
                    <button class="btn butn px-5 hvr-grow   " type="submit">Login</button>
                </div>
            </form>
                <div class="col-md-12 text-center margin-25px-top">
                    <span>Don't have an account yet? <a href="{% url "Registration" %}">Register</a></span>
                </div>

            </form>
        </div>

    </div>
    <!-- end left content -->

    <!-- start right content -->
    <div class="container-fluid bg-img height-100vh xs-display-none" data-background="img/content/login-register.jpg"
    style="background-image: url('/static/hotel_images/04.jpg');background-size: cover; ">
    </div>
    <!-- end right content -->

</div>
<!-- end login section -->



{% endblock content %}