{% extends "Base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="/static/css/Logout.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Please visit The Arc Again</p>
      <p> </p>
      <a class="nav-link go-home" href="{% url 'Home' %}">
      go home
      </a>
    </div>
    <div class="footer-like">
      <p>We Hope your stay was Fabulous
      </p>
    </div>
</div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
  {% endblock content %}
  <a  class=" btn hvr-grow  hvr-float-shadow px-5 pt-2 btn btn-outline-primary" href="{% url 'login' %}">
    <h3 class="text-center   ">Login Again</h3>
  </a>
