{% extends "Base.html" %}
{% block content %}

<head>
  <link rel="stylesheet" href="/static/css/Logout.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</head>
<div class="content  my-5">
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Please visit The Metro Again</p>
      <p> </p>
      <a class="nav-link go-home" href="{% url 'Home' %}">
      go home
      </a>
    </div>
    <div class="footer-like ">
      <p>We Hope your stay was Fabulous
      </p>
      <a  class=" btn hvr-grow  hvr-float-shadow px-5 pt-2 btn btn-outline-primary" href="{% url 'login' %}">
        <h6 class="text-center">Login Again</h6>
      </a>
    </div>
</div>
</div>

  {% endblock content %}
