{% extends "Base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock title %}
{% block content %}



	<!--Reset Password-->

    <div class="container ">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 p-5 my-5 border-top border-bottom bg-white  border-5 rounded-3 border-primary shadow">
        
            <p class="h5">Please enter your new password twice so we can verify you typed it in correctly.</p>
		<hr>
        <form method="POST">
            {% csrf_token %}    
            {{form|crispy }}   
            
            <div class="form-group mt-4 float text-center ">
             
              <button  class="btn hvr-grow px-5 btn-outline-primary " type="submit">Change Password</button>
          </div>  
        </form>
          </div>
          <div class="col-md-2 ">
          
          </div>
        </div>
      </div>    

{% endblock %}