{% extends "Base.html" %}
{% block title %}Password Reset{% endblock title %}
{% block content %}




<div class="container text-center">
    <div class="row">
      <div class="col-md-1">
        </div>
        <div class="col-md-9 Pas border-top border-bottom border-5  bg-white  rounded-3 border-primary shadow py-4  px-4 rounded  shadow m-5">
       <hr>
        <div class=" ">
            <h3 class=" text-danger my-2">
                We’ve Emailed you instructions for setting your password, if an account exists with the email you entered. You should receive It shortly.
            </h3>
            <small class="text-muted h6">
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </small>
        </div>
      </div>
      <div class="col-md-1">
      
      </div>
    </div>
  </div>

    
{% endblock content %}
