{% extends "Base.html" %}
{% block content %}


<div class="container ">
    <div class="row">
      <div class="col-md-2">
    
      </div>
      <div class="col-md-8  bg-light ">

        <div class=" p-5 my-5 border-top border-bottom text-center  border-5 rounded-3 border-primary shadow">
            <h3>Your Password hase been Recovered </h3> 
            <h5 class="text-muted">Now You can Login using Your New Password </h5> 
          <small class="text-muted text-center">    
                <a  class=" btn mt-5 hvr-grow btn-outline-primary px-5" href="{% url 'login' %}">Log In </a>
            </small>
        </div>
      </div>
      <div class="col-md-2">
      
      </div>
    </div>
  </div>    
{% endblock content %}
