{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <img src="static\hotel_images\gianni-scognamiglio-hIHw5zoYo2g-unsplash.jpg"  class="img-fluid" style="height: 529px; width: 1430px;"/>
    </div>
    <div class="container mt-5">
        <div class="card1 mt-3 p-3">
            <h1 class="data mt-2 text-center">
                Our Services
            </h1>
            <span class="about mt-2 text-center">
                <pre style="font-family: 'sans-serif'; font-size: medium;">
                    At The ARC, we pride ourselves on offering a comprehensive range
                    of services tailored to meet the diverse needs of hotel owners, 
                    managers, and guests. Whether you're looking to streamline operations, 
                    enhance guest experiences, or optimize revenue, our suite of services is designed 
                    to empower your success.
                </pre>
            </span>
            <span class="company text-center mt-4">
                <pre style="font-family: 'sans-serif'; font-size: medium;">
                    1. <b>Property Management System (PMS):</b>
                    Our state-of-the-art Property Management System is the 
                    cornerstone of efficient hotel operations. Seamlessly manage
                    reservations, check-ins, check-outs, housekeeping, billing, 
                    and more from a single intuitive platform. With real-time updates 
                    and robust reporting capabilities, you'll have full visibility and
                    control over your property's performance.

                    2. <b>Online Booking Engine:</b>
                    Maximize your direct bookings and revenue with our user-friendly
                    Online Booking Engine. Empower guests to make secure reservations
                    directly through your website, offering a seamless booking experience.
                    
                    3. <b>Guest Relationship Management:</b>
                    Capture guest preferences, stay histories, and feedback to tailor 
                    communication and amenities for each visitor. From pre-arrival emails to 
                    post-stay surveys, nurture guest loyalty and drive repeat bookings.

                    4.<b>Housekeeping Management:</b>
                    Streamline housekeeping operations and ensure guest satisfaction with
                    our Housekeeping Management module. Assign tasks, track cleanliness status, 
                    and prioritize room turnovers efficiently. Enhance communication between 
                    housekeeping staff and front desk teams for seamless guest transitions.

                    5.<b>Training and Support:</b>
                    Our commitment to your success extends beyond software solutions. 
                    Benefit from dedicated training sessions, ongoing support, and regular 
                    updates to ensure you're maximizing the value of our services. Our team 
                    of experts is here to assist you every step of the way.
                </pre>
            </span>
            <span class="text2 text-center">
                <pre style="font-family: 'sans-serif'; font-size: medium;">
                    Get in touch with our team today to learn more about how 
                    we can help you achieve your goals
                </pre>
            </span>
        </div>
    </div>

{% endblock content %}